/* MultipleChoiceModal.css */

/* Placeholder styles for question textarea */
.question-textarea textarea::placeholder {
  color: white !important;
  opacity: 1 !important;
}

.question-textarea textarea::-webkit-input-placeholder {
  color: white !important;
  opacity: 1 !important;
}

.question-textarea textarea::-moz-placeholder {
  color: white !important;
  opacity: 1 !important;
}

.question-textarea textarea:-ms-input-placeholder {
  color: white !important;
  opacity: 1 !important;
}

/* Placeholder styles for option inputs */
.option-input input::placeholder {
  color: white !important;
  opacity: 1 !important;
}

.option-input input::-webkit-input-placeholder {
  color: white !important;
  opacity: 1 !important;
}

.option-input input::-moz-placeholder {
  color: white !important;
  opacity: 1 !important;
}

.option-input input:-ms-input-placeholder {
  color: white !important;
  opacity: 1 !important;
}

/* Override Ant Design default styles */
.ant-input::placeholder {
  color: white !important;
  opacity: 1 !important;
}

.ant-input::-webkit-input-placeholder {
  color: white !important;
  opacity: 1 !important;
}

.ant-input::-moz-placeholder {
  color: white !important;
  opacity: 1 !important;
}

.ant-input:-ms-input-placeholder {
  color: white !important;
  opacity: 1 !important;
}

/* Additional override for textarea */
.ant-input[type="textarea"]::placeholder {
  color: white !important;
  opacity: 1 !important;
}

.ant-input[type="textarea"]::-webkit-input-placeholder {
  color: white !important;
  opacity: 1 !important;
}

.ant-input[type="textarea"]::-moz-placeholder {
  color: white !important;
  opacity: 1 !important;
}

.ant-input[type="textarea"]:-ms-input-placeholder {
  color: white !important;
  opacity: 1 !important;
}
