name: Build and deploy React app to Azure Web App - learning-progress-management-cms-staging

on:
  push:
    branches:
      - staging
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      CI: false
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: Install dependencies and build
        run: |
          npm install
          npm run build

      - name: Upload build folder
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: build

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: node-app
          path: build

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_14019EABB8A4431282FB93DF6C4FC9B7 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_20614B7E0B7A48CBBADE4B6A697229AE }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_0F15D3721A34415388062325275E3569 }}

      - name: Deploy React app to Azure
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'learning-progress-management-cms-staging'
          slot-name: 'Production'
          package: build
